{% extends 'admin-layout.html.twig' %}

{% block title %} {{ parent() }} - Gestione Articoli{% endblock %}

{% block main %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div>
            <h1 class="text-center">Articoli</h1>

            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Id</th>
                        <th scope="col">Title</th>
                        <th scope="col">Inizio</th>
                        <th scope="col">Fine</th>
                        <th scope="col">Azioni</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in pager  %}
                        <tr>
                            <td>#</td>
                            <td>{{ article.articleId }}</td>
                            <td>
                                <a href="{{ path('web_admin_article_show', {'id': article.articleId}) }}">
                                    {{ article.title }}
                                </a>
                            </td>
                            <td>{{ article.publicationStart }}</td>
                            <td>{{ article.publicationEnd }}</td>
                            <td>
                                <a href="{{ path('web_admin_article_delete', {'id': article.articleId}) }}">Elimina</a>
{#                                <a href="{{ path('web_admin_article_edit', {'id': article.articleId}) }}">Modifica</a>#}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ pagerfanta(pager) }}
            </div>
        </div>
    </main>
{% endblock %}
